{% extends "master.html" %}

{% block title %}
  My Tennis Club - list of all members.
{% endblock %}

{% block content %}

  <p><a href="/">Home</a></p>

  <h1>Members</h1>

  <ul>
    {% for x in mymembers %}
    <li><a href="details/{{ x.id }}">{{x.firstname}} {{x.lastName}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

<!-- <!DOCTYPE html>
<html>
<body>

<h1>Members</h1>

<ul>
  {% for x in mymembers %}
  <li><a href="details/{{ x.id }}">{{ x.firstname }} {{x.lastName}}</a></li>
  {% endfor %}
</ul>

</body>
</html> -->
